body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', monospace;
    color: #333333;
}

.content {
    float: center;
    max-width: 33%;
    margin: 10px 30px 30px;
}

/*.center {
    margin: auto;
    width: 10%;
    padding: 10px;
    margin: 10px 30px 30px;
}*/
