body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', monospace;
    color: #333333;
}

.content {
    float: center;
    margin: 10px 30px 30px;
}

.content-image {
    width: 100px;
    height: 170px;
    background-size: cover;
}
