body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', monospace;
    color: #333333;
}

.middle-container {
    /*color: #7ff402;*/
}

.bottom-container {
    /*color: #7ff402;*/
}

.main-content {
    float: center;
    margin: 10px 30px 30px;
    width: 95%;
}

.logo {
    margin: auto;
}

.logo-caption {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
